.name {
    color: crimson;
    background-color: aqua;
    text-align: center;
}

.description {
    color: aqua;
    background-color: crimson;
    text-align: center;
}

.main {
    box-sizing: border-box;
    border: 3px solid lightgreen;
    width: 55mm;
    height: 85mm;
    margin: auto;
    display: block;
}

.image {
    margin: auto;
    display: block;
}

* {
    font-family: Calibri, serif;
    background-color: darkorchid;
}